---
layout: 2019/default
section: programa
title: esLibre 2019 - Antonio Gámiz Delgado - Descubriendo Perl6
---

<h1 class="mt-3 mb-3">Devroom 3: Perl* (13:00 - 13:20)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/gamiz_antonio.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Antonio Gámiz Delgado: "Descubriendo Perl6"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Dado que <a href="https://perl6.org/" target="_blank">Perl6</a> es todavía un lenguaje poco conocido creo que es conveniente empezar la devroom descubriendo qué tiene Perl6 para nosotros.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Funcionalidades básicas sobre Perl6 que sean un poco "diferentes".
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Cualquier interesado en aprender Perl6.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Antonio Gámiz Delgado</strong>, estudiante de Doble Grado en Ingeniería Informática y Matemáticas en la <a href="https://www.ugr.es/" target="_blank">UGR</a> y <a href="https://www.pm.org/" target="_blank">Perl Monger</a>.<br><br>
  <a href="https://github.com/antoniogamiz" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/Antonio_D_Luffy" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
