---
layout: 2019/default
section: programa
title: esLibre 2019 - Renato Luis Ramírez Rivero - Perl6 Sun Position
---

<h1 class="mt-3 mb-3">Devroom 3: Perl* (12:15 - 12:35)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/ramirez_renato_luis.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Renato Luis Ramírez Rivero: "Perl6 Sun Position"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Utilización de caracteres Unicode en <a href="https://perl6.org/" target="_blank">Perl6</a>. Un ejemplo, algoritmos astronómicos.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  La posición del sol es importante: gnomótica, energía solar, astrología, estudio de sombras...<br><br>
  A partir del libro "Astronomical Algorithm in 9 Common Programming Languages" se realiza un ejemplo de la utilización de caracteres unicode en Perl 6.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  <ul>
    <li>Principiantes <a href="https://www.pm.org/" target="_blank">Perl Mongers</a></li>
    <li>Físicos, programadores, ingenieros...</li>
    <li>Curiosos</li>
  </ul>
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Renato Luis Ramírez Rivero</strong>. Persona.<br><br>
  <a href="https://github.com/renatolrr" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
