<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand h1 mb-0" href="/2020/">es<span style="color: red;">Libre</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.section == "acerca" %} active {% endif %}" href="/2020/acerca/">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.section == "c4p" %} active {% endif %}" href="/2020/c4p/">Envío de propuestas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.section == "info" %} active {% endif %}" href="/2020/info-practica/">Información práctica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2019/">Edición anterior</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.section == "conducta" %} active {% endif %}" href="/2020/conducta/">Código de Conducta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://t.me/esLibre" target="_blank"><i class="fab fa-telegram-plane fa-lg"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
        </li>
        <li style="padding-top: 0.1em !important;" class="nav-item">
          <a class="nav-link" href="https://hostux.social/@eslibre/" target="_blank"><svg class="svg-icon" aria-hidden="true" role="img" focusable="false" width="16" height="17.151014" viewBox="0 0 16 17.151014" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="m 15.999307,5.6310863 c 0,-3.7205592 -2.438662,-4.8114604 -2.438662,-4.8114604 -2.393096,-1.09856989 -8.7486725,-1.08708408 -11.118808,0 0,0 -2.43903911,1.0909012 -2.43903911,4.8114604 0,4.4286907 -0.25263082,9.9291507 4.04324761,11.0659967 1.5506084,0.409569 2.8830546,0.497604 3.9552014,0.436358 1.9448745,-0.107201 3.0361641,-0.692817 3.0361641,-0.692817 l -0.06503,-1.412437 c 0,0 -1.3898526,0.436359 -2.9519582,0.386599 -1.54678,-0.0536 -3.1770233,-0.168424 -3.4307969,-2.066979 a 3.9249625,3.9249625 0 0 1 -0.0344,-0.53205 c 3.2776867,0.799995 6.0727061,0.348322 6.8420721,0.256459 2.148134,-0.256459 4.019133,-1.58086 4.257592,-2.790425 0.375123,-1.9062115 0.344507,-4.6507047 0.344507,-4.6507047 z M 13.12391,10.423415 H 11.339036 V 6.0521415 c 0,-1.9023828 -2.449758,-1.975115 -2.449758,0.2641167 V 8.7085883 H 7.1158903 V 6.3158695 c 0,-2.2392201 -2.4497591,-2.1664994 -2.4497591,-0.2641166 V 10.423038 H 2.8774294 c 0,-4.6736764 -0.1990418,-5.6612281 0.7046921,-6.6985403 C 4.5735018,2.6182821 6.6374174,2.54555 7.5564657,3.9579856 L 8.0004811,4.7043921 8.4444966,3.9579856 C 9.3673624,2.5378928 11.434729,2.6259278 12.418841,3.7244977 c 0.90755,1.0449694 0.704303,2.0286925 0.704303,6.6985403 z"
                id="path2" inkscape:connector-curvature="0" style="fill:currentColor;stroke-width:0.03827738" />
            </svg></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://charla.eslib.re/" target="_blank"><i class="fab fa-discourse fa-lg"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:{{site.mail}}"><i class="fas fa-envelope fa-lg"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gitlab.com/{{site.gitlab}}" target="_blank"><i class="fab fa-gitlab fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
