---
layout: 2019/default
section: programa
title: Devroom 4 - Informática y matemáticas
---

<h1 class="mt-3 mb-3">Devrooms <strong>es<span class="red">Libre</span></strong> {{site.year}}</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/libreim.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Devroom 4: "Informática y matemáticas"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  La informática y las matemáticas son disciplinas muy relacionadas, y fundamentales para algunas áreas del conocimiento, muchas de las cuales son de gran interés en la actualidad: por ejemplo, la programación funcional, el aprendizaje automático,
  los gráficos por ordenador, la computación cuántica, la verificación formal, etc.<br><br>
  Esta <i>devroom</i> está dedicada a todos los temas en los que tengan algo que ver la informática y las matemáticas, tanto si están de moda como si son más desconocidos. Y, por supuesto, siempre promoviendo la cultura y el software libre.
</div>

<div class="speaker-text">
  <h3>Comunidad o grupo que lo propone</h3>
  <a href="https://libreim.github.io/" target="_blank">LibreIM</a> es una comunidad fundada por estudiantes con años de trabajo a la espalda y con unos principios claros de dedicación a la divulgación utilizando y desarrollando tanto software como
  conocimiento libre.<br><br>
  Una de las actividades principales de LibreIM es la organización de <a href="https://libreim.github.io/t/seminarios/" target="_blank">seminarios periódicos sobre temáticas relacionadas con la informática y las matemáticas</a>.<br><br>
  Forman parte de LibreIM, entre otras personas:<br><br>
  <ul>
    <li><a href="https://twitter.com/fdavidcl/" target="_blank">David Charte</a></li>
    <li><a href="https://twitter.com/mx_psi" target="_blank">Pablo Baeyens</a></li>
    <li><a href="https://mastodon.social/@danipozo" target="_blank">Daniel Pozo</a></li>
  </ul>

</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Todas las personas con interés o curiosidad por los campos del conocimiento donde confluyen las matemáticas y la informática.
</div>

<div class="speaker-text">
  <h3>Formato</h3>
  Principalmente charlas cortas de 20 minutos, con espacio para preguntas y comentarios tras cada una.
</div>
