---
layout: 2019/default
section: programa
title: Devroom 2 - Privacidad, descentralización y soberanía digital
---

<h1 class="mt-3 mb-3">Devrooms <strong>es<span class="red">Libre</span></strong> {{site.year}}</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/trackula.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Devroom 2: "Privacidad, descentralización y soberanía digital"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  En un mundo con cada vez más tecnología, cada día tenemos menos poder sobre lo que ocurre con nuestra información personal.<br><br>
  El poder que el Software Libre nos dio para con nuestros dispositivos, la economía de la vigilancia nos lo está arrebatando con la centralización de servicios en manos de empresas cuyo modelo de negocio es venderte.<br><br>
  En consecuencia, nuestra soberanía democrática, social e individual se están viendo mermadas y coartadas al permitir (a veces sin apenas pensarlo) que se traten nuestros datos, muchas veces de forma desproporcionada, y con consecuencias que todavía
  no podemos ni anticipar.<br><br>
  <ul>
    <li>¿Qué podemos hacer al respecto?</li>
    <li>¿De qué herramientas y servicios alternativos disponemos?</li>
    <li>¿Cómo educamos a la sociedad para que quiera defenderse?</li>
  </ul>
  Buscamos para la devroom contribuciones que indaguen en los problemas que surgen respecto a estos temas, y también sobre proyectos y alternativas que respeten los derechos fundamentales de las personas y que nos hagan más soberanos o conscientes
  con la tecnología, de forma general.<br><br>
  Nos interesan mucho los siguientes temas, pero no dudes en proponer otros que puedan encajar aunque no estén especificados en la lista. ¡Estamos totalmente abiertos a propuestas!<br><br>
  <ul>
    <li>Tecnologías, proyectos e iniciativas basadas en la privacidad:</li>
    <ul>
      <li>Como crear conciencia ciudadana al respecto</li>
      <li>Redes anónimas, Friend-to-friend, o Dark Nets</li>
      <li>Sistemas operativos pro-privacidad</li>
      <li>Infraestructura y tecnología para la anonimidad en la red</li>
      <li>Seguridad operacional: como reducir la cantidad de info. que se recopila de ti?</li>
      <li>Modelos de amenaza: hasta dónde debería de llegar tu paranoia?</li>
      <li>Pasos para minimizar el impacto en una brecha de privacidad</li>
    </ul>
  </ul>
  <ul>
    <li>Tecnologías, proyectos e iniciativas basadas en la descentralización:</li>
    <ul>
      <li>Como crear conciencia ciudadana al respecto</li>
      <li> Redes descentralizadas y comunitarias</li>
      <li> Mecanismos que no requieran confianza para realizar operaciones seguras</li>
      <li> Comunidades de self-hosting</li>
      <li> Soluciones para el self-hosting de tus propios servicios</li>
      <li> Redes, algoritmos y protocolos de red descentralizados</li>
      <li> Aplicaciones descentralizadas para servicios finales, como mensajería instantánea, almacenamiento de backups, compartición de documentos o páginas web, colaboración en tiempo real...</li>
    </ul>
  </ul>
  <ul>
    <li> Tecnologías, proyectos e iniciativas basadas en la soberanía digital</li>
    <ul>
      <li> Como crear conciencia ciudadana al respecto</li>
      <li> Redes pro-soberanía digital</li>
      <li> Sistemas de votación electrónica con garantías democráticas</li>
      <li> Tecnología para permitir a la ciudadanía el control en los procesos democráticos</li>
      <li> Proyectos para incrementar la Transparencia en organizaciones</li>
      <li> Sobre control individual o social de los datos personales</li>
      <li> Sobre la elaboración de perfiles ciudadanos y su impacto</li>
    </ul>
  </ul>
  Esta devroom contará con los siguientes patrocinios individuales:
  <ul>
    <li><a href="https://www.gpul.org/" target="_blank">Grupo de Programadores e Usuarios de Linux</a></li>
    <li><a href="https://www.xunta.gal/" target="_blank">Xunta de Galicia</a></li>
    <li><a href="https://amtega.xunta.gal/" target="_blank">Axencia para a Modernización Tecnolóxica de Galicia</a></li><br><br>
    <div style="margin: auto; text-align: center;" class="banner">
      <div class="images">
        <a href="https://www.gpul.org/">
          <img src="/{{site.year}}/assets/logos/gpul.png" alt="GPUL" class="embed-responsive">
        </a>
      </div>
      <div class="images">
        <a href="https://www.xunta.gal/">
          <img src="/{{site.year}}/assets/logos/xunta.png" alt="Xunta de Galicia" class="embed-responsive">
        </a>
      </div>
      <div class="images">
        <a href="https://amtega.xunta.gal/">
          <img src="/{{site.year}}/assets/logos/amtega.png" alt="Amtega" class="embed-responsive">
        </a>
      </div>
    </div>
</div>

<div class="speaker-text">
  <h3>Comunidad o grupo que lo propone</h3>
  <a href="https://trackula.org/es/" target="_blank">Trackula</a>. Bajo este nombre nos reunimos un grupo de hacktivismo y concienciación social interesados en las cuestiones de privacidad, descentralización, software libre y soberanía de la
  información personal y social.<br><br>
  Estamos en proceso de conformarnos como asociación, aunque podéis conocer a nuestros fundadores también a través de GPUL, y bajo unas u otras siglas tenemos experiencia en la realización de actividades al respecto.<br><br>
  Además de experiencia en la realización de conferencias (algunas internacionales, como <a href="https://2019.guadec.org/" target="_blank">GUADEC</a>, <a href="https://akademy.kde.org/2015" target="_blank">Akademy</a> o <a
    href="https://xdc2018.x.org/" target="_blank">XDC</a>), también hemos dinamizado espacios como el <a href="https://www.tabakalera.eu/en/summerlab-2018-meeting-citizen-research-civic-use-of-technology" target="_blank">Summerlab de Hirikilabs</a>,
  y participado en talleres como <a href="https://www.youtube.com/watch?v=ixpbzv2pRTA" target="_blank">Visualizar '17</a>, o charlas como <a href="https://www.youtube.com/watch?v=O-x4jQ2UNOw" target="_blank"> Watching Them Watching Us</a> en <a
    href="https://fosdem.org/2019/" target="_blank">FOSDEM '19</a>.<br><br>
  Formaremos parte de esLibre, al menos las siguientes personas:<br><br>
  <ul>
    <li><a href="https://twitter.com/castrinho18" target="_blank">Pablo Castro</a></li>
    <li><a href="https://twitter.com/sofipros" target="_blank">Sofía Prósper</a></li>
    <li><a href="https://twitter.com/ssice" target="_blank">Santiago Saavedra</a></li>
  </ul>

  Estamos abiertos a incorporar a más personas que compartan estas inquietudes y que quieran participar de la propia organización de la devroom.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Todo el mundo.
</div>

<div class="speaker-text">
  <h3>Formato</h3>
  Charlas de 20+5 minutos, se organizará una mesa redonda al final del día, y se dejarán espacios con el propósito de generar una "desconferencia por intervalos" hilada por las temáticas de las charlas.
</div>
