---
layout: 2019/default
section: programa
title: esLibre 2019 - Ignasi Camacho Redó - API Telegram + PHP
---

<h1 class="mt-3 mb-3">Track 1: Dev + Web (16:00 - 16:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/camacho_ignasi.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Ignasi Camacho Redó: "API Telegram + PHP"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  Introducción a la <a href="https://es.wikipedia.org/wiki/Interfaz_de_programaci%C3%B3n_de_aplicaciones" target="_blank">API</a> que utiliza <a href="https://www.telegram.org/" target="_blank">Telegram</a> para la creación de bots y programación de
  estos con <a href="https://www.php.net/" target="_blank">PHP</a>.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Se explicará donde encontrar toda la información acerca de la API de Telegram para el desarrollo de bots, y a su vez también se verá como y donde podemos crear nuestros propios bots para la aplicación.<br><br>
  En esta charla se desarrollarán líneas de código en PHP para que el bot pueda responder algunos comandos o mensajes que envía el usuario en un chat privado y/o grupal.
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Toda persona con conocimientos técnicos que esté interesada en el mundo de los bots en Telegram. Y no hay que olvidarse de aquellas personas curiosas. Todas están invitadas.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Ignasi Camacho Redó</strong>, estudiante de Ingeniería Informática en la <a href="https://www.ugr.es/" target="_blank">Universidad de Granada<a /> y creador de <a href="https://t.me/fightETSIIT_Bot" target="_blank">Fight ETSIIT</a>.<br><br>
    <a href="https://github.com/IgnasiCR" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
    <a href="https://twitter.com/IgnasiCR" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
    <a href="https://www.linkedin.com/in/ignasi-camacho-redo/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
