---
layout: 2019/default
section: acerca
title: Acerca de esLibre
ready: yes
---

<h1 class="mt-3"><strong>es<span class="red">Libre</span></strong></h1>

<p>¡Tu encuentro nacional sobre tecnologías y conocimiento libre!</p>

<h2>¿Qué?</h2>

<p><strong>es<span class="red">Libre</span></strong> es un encuentro de personas interesadas en las tecnologías libres, enfocado
  a compartir conocimiento y experiencia alrededor de las mismas.</p>

<p>Nos gustaría un <em>congreso</em> anual que recuperase la idea de <strong>comunidad</strong>, y en el que podamos aprovechar la
  experiencia de <em>las viejas glorias</em> y las ganas de la gente nueva, en un ambiente técnico, pero que no olvide, y explique,
  lo importante que es que la tecnología sea libre.</p>

<h2>¿Cuándo?</h2>

<p>La edición de este año tendrá lugar en Granada el día <strong>viernes 21 de Junio</strong> en la <a href="https://etsiit.ugr.es/" target="_blank">
    Escuela Técnica Superior de Ingenierías Informática y de Telecomunicación de la Universidad de Granada</a>.
</p>

<h2>¿Por qué?</h2>

<p>La primera motivación ha sido la nostalgia que sentía las personas de la organización por los congresos de HispaLiNUX. Eso, y un par de conversaciones en el
  FOSDEM y un posterior hilo en un chat nos ha traído aquí...
</p>

<h2>¿Quién?</h2>

<p>La organización del encuentro del año {{site.year}} corre a cargo de:</p>

<ul>
  {% for persona in site.data.2019.organizacion %}
  <li><a href="{{persona.twitter}}" target="_blank">{{persona.nombre}}</a></li>
  {% endfor %}
</ul>
