---
layout: 2019/default
---

<!-- Begin page content -->
<div class="jumbotron mt-3">
  <div class="media">
    <span class="media-left">
      <img class="main-logo" src="/{{site.year}}/assets/logos/logo.png" alt="Logo esLibre" class="embed-responsive">
    </span>
    <div class="media-body">
      <h1 class="main-header display-4"><strong>es<span class="red">Libre</span></strong> 2019</h1>
    </div>
  </div>
  <p class="lead">Granada, 21 de Junio de 2019</p>
  <hr class="my-4">
</div>
<div class="main-container container">
  <h2>Localización</h2>
  <div class="row">
    <div class="col-md-7">
      <p>La edición de 2019 de <strong>es<span class="red">Libre</span></strong> se celebrará en la <a href="info-practica/index.html#sede">Escuela Técnica Superior de Ingenierías
          Informática y de Telecomunicación de la Universidad de Granada</a>.</p><br><br>
      <h2>Organizadores:</h2>
      <div class="box">
        <a href="https://www.ugr.es/">
          <img class="images" src="/2019/assets/logos/ugr.png" alt="Universidad de Granada" class="embed-responsive">
        </a>
        <a href="https://etsiit.ugr.es/">
          <img class="images" src="/2019/assets/logos/etsiit.png" alt="ETSIIT" class="embed-responsive">
        </a>
      </div>
      <div class="box">
        <a href="https://interferencias.tech/">
          <img class="images" src="/2019/assets/logos/interferencias_bn.png" alt="Interferencias" class="embed-responsive">
        </a>
        <a href="https://geneura.wordpress.com/">
          <img class="images" src="/2019/assets/logos/geneura.png" alt="GeNeura" class="embed-responsive">
        </a>
      </div>
    </div>
    <div class="col-md-5">
      <img src="assets/imgs/etsiit-ugr.jpg" alt="Fachada de la Escuela Técnica Superior de Ingenierías Informática y de Telecomunicación de la Universidad de Granada" class="embed-responsive">
    </div>
  </div>
</div>
<hr />
{% include 2019/sponsors.html %}
