<footer style="display: block; box-sizing: border-box; padding-top: 2em; padding-bottom: 1em; text-align: center; color: rgba(85,85,85,0.8); font-size: 16px;">
  <span class="copyleft">&copy;</span> {{ site.time | date: '%Y' }} <strong>es<span class="red">Libre</span></strong>
  <br>Sitio web generado con <a href="http://jekyllrb.com" target="_blank" rel="nofollow">Jekyll</a> publicado bajo una licencia
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="_blank">Creative Commons Atribución-CompartirIgual 4.0 Internacional
    (CC BY-SA 4.0)</a>.<br><br>
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="_blank">
    <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-sa.png" alt="CC BY-SA 4.0" style="max-width: 88px; width: 100%; height: 100%">
  </a>
  &nbsp&nbsp
  <a href="https://www.gnu.org/licenses/gpl.html" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/GPLv3_Logo.svg/1200px-GPLv3_Logo.svg.png" alt="GPL v3" style="max-width: 88px; width: 100%; height: 100%">
  </a>
</footer>
