---
layout: 2020/default
ready: no
---

<!-- Begin page content -->
<div class="jumbotron mt-3">
  <div class="media">
    <span class="media-left">
      <img class="main-logo" src="/2020/assets/logos/logo.png" alt="Logo esLibre" class="embed-responsive">
    </span>
    <div class="media-body">
      <h1 class="main-header display-4"><strong>es<span class="red">Libre</span></strong> 2020</h1>
    </div>
  </div>
  <p class="lead">Madrid, 5-6 de Junio de 2020</p>
  <hr class="my-4">
</div>
<div class="main-container container">
  <h2>Localización</h2>
  <div class="row">
    <div class="col-md-7">
      <p>La edición del año 2020 de <strong>es<span class="red">Libre</span></strong> se celebrará en la <a href="https://www.urjc.es/">Universidad Rey Juan Carlos</a> gracias al interés mostrado por su <a href="acerca/index.html"
          target="_blank">Oficina de Conocimiento y Cultura Libres (OfiLibre de la URJC)</a>.</p><br><br>
      <h2>Organizadores:</h2>
      <div class="box">
        <a href="https://ofilibre.gitlab.io/" target="_blank">
          <img class="images-big" src="/2020/assets/logos/ofilibre_urjc.png" alt="Oficina de Conocimiento y Cultura Libres de la URJ" class="embed-responsive">
        </a>
      </div>
      <div class="box">
        <a href="https://www.urjc.es/etsii" target="_blank">
          <img class="images" src="/2020/assets/logos/etsii_urjc.png" alt="ETSII URJ" class="embed-responsive">
        </a>
        <a href="https://www.urjc.es/etsit" target="_blank">
          <img class="images" src="/2020/assets/logos/etsit_urjc.png" alt="ETSIT URJ" class="embed-responsive">
        </a>
      </div>
      <br><br>
    </div>
    <div class="col-md-5">
      <img src="/2020/assets/imgs/mostoles2.jpg" alt="Universidad Rey Juan Carlos" class="embed-responsive">
    </div>
  </div>
  <div class="row">
    <h2 style="padding-left: 0.5em">Colaboradores:</h2>
    <div class="box">
      <a href="https://robotech.etsit.urjc.es/" target="_blank">
        <img class="images-small" src="/2020/assets/logos/robotech.png" alt="RoboTech" class="embed-responsive">
      </a>
      <a href="https://cosmos.etsit.urjc.es/" target="_blank">
        <img class="images-small" src="/2020/assets/logos/comos.png" alt="Cosmos" class="embed-responsive">
      </a>
      <a href="http://informaticosurjc.es/quienes-somos/" target="_blank">
        <img class="images-small" src="/2020/assets/logos/informaticos_urjc.png" alt="Informáticos URJC" class="embed-responsive">
      </a>
      <a href="https://wikimedia.es/" target="_blank">
        <img class="images-small" src="/2020/assets/logos/wikimedia_españa.png" alt="Wikimedia España" class="embed-responsive">
      </a>
      <a href="https://librelabgrx.cc/" target="_blank">
        <img class="images-small" src="/2020/assets/logos/librelabgrx.png" alt="LibreLabGRX" class="embed-responsive">
      </a>
      <a href="https://interferencias.tech/" target="_blank">
        <img class="images-small" src="/2020/assets/logos/interferencias.png" alt="Interferencias" class="embed-responsive">
      </a>
      <a href="https://librelabucm.org/" target="_blank">
        <img class="images-small" src="/2020/assets/logos/llucm.png" alt="Libre Lab UCM" class="embed-responsive">
      </a>
    </div>
  </div>

</div>
<hr />
