---
layout: 2020/default
section: c4p
title: Envío de propuestas para esLibre
---

<h1 class="mt-3 mb-3">Call for papers <strong>es<span class="red">Libre</span></strong> 2020</h1>

<p align="center">
  <cite style="color: black;">
    You can find an Spanish version of this text <a href="/2020/c4p/">here</a>.
  </cite>
</p>

<p>
  <cite style="color: grey;">
    Please forward this call for papers to anyone who might find it interesting.
  </cite>
</p>

<p>
  The <a href="https://eslib.re"><strong>es<span class="red">Libre</span></strong> congress</a> is a meeting of <i>people interested in
    free technologies, focused on sharing knowledge and experience around them</i>. The next edition will be held at
  <strong><a href="https://www.urjc.es/">Universidad Rey Juan Carlos</a> (Madrid)</strong> on <strong>5th and 6th June 2020</strong>.
</p>

<p>
  In <strong>es<span class="red">Libre</span></strong> we try to have an anual congress that recovers and maintains the ideas of the
  community, in which we can take advantage of the experience of the old glories and the desire of new people. We want to achieve a
  technical environment, but one that does not forget, and explains, how important it is for technology to be free.
</p>

<p>
  We also want to open the congress to a wider community interested in free culture, perhaps with less focus on technology, but with equal
  interest in sharing.
</p>

<h3 class="mt-3 mb-3">Theme</h3>

<p>
  <strong>Free software</strong> is the main theme of <strong>es<span class="red">Libre</span></strong>. It also covers other
  <strong>free technologies</strong> (for example, <strong>free hardware</strong>), and the less technological world of
  <strong>free knowledge</strong>. In general, <i>topics directly related to works (software, hardware, cultural works, etc.) that are
    distributed under free licenses </i>, according to <a href="https://opensource.org/osd">OSI definition of open source</a> or the
  <a href="https://www.gnu.org/philosophy/free-sw.en.html">FSF definition of free software</a>, or that meet the
  <a href="https://freedomdefined.org/Definition">definition of free cultural work</a> are considered to fit perfectly into
  <strong>es<span class="red">Libre</span></strong>.
</p>

<p>
  Although many free software, and free works are distributed commercially, we want to maintain
  <strong>es<span class="red">Libre</span></strong> as a forum that is neutral towards commercial issues. <u>In general, we will not
    accept papers, workshops or rooms that specifically promote a commercial deal.</u>
</p>

<h3 class="mt-3 mb-3">Types of contributions</h3>

<p>
  There are different types of contributions that you can propose:
</p>

<ul>
  <li><strong>Lecture</strong>. Standard presentation, in a conventional format (approximately 25 minutes) or in a lightning one
    (approximately 10 minutes). The organization will be able to propose changes in the format of any of the talks, for organizational
    reasons or due to the content. As an exception, a longer format may be proposed for a talk.</li>
  <li><strong>Room (devroom)</strong>. Organization of the program of a room, which will run in parallel with other activities of the
    congress. Normally a room will be organized by and/or for a community, and will usually be specialized in one topic (although it can
    also be generalist). Just as an example, in 2019 we had the following rooms: Free Software at the University; Privacy, Decentralization
    and Digital Sovereignty; Perl; Computer Science and Math.</li>
  <li><strong>Workshop</strong>. Practical presentation, "hands on". It can be in many formats, from demonstrations that attendees can
    follow, to introductory sessions to a technology, where attendees can experiment with it.</li>
  <li><strong>Another one</strong>. Use your imagination! Propose other formats, we are interested in exploring other ways of sharing
    knowledge.</li>
</ul>

<p>
  In the template to propose each type of contribution you can find more details
</p>

<h3 class="mt-3 mb-3">Dates and deadlines</h3>

<ul>
  <li>Deadline for room proposals: <strong>2nd March</strong></li>
  <li>Deadline for proposals for talks, workshops and others: <strong>16th March</strong></li>
  <li>Deadline for room program: <strong>30th April</strong></li>
  <li><strong>es<span class="red">Libre</span></strong>congress: <strong>5th and 6th June</strong></li>
</ul>

<p>
  <strong>All dates are at 23:59 (Madrid time).</strong>
</p>

<h3 class="mt-3 mb-3">How to propose your contribution</h3>

<p>
  Call for papers is open to everyone. The way to propose a contribution will be through a
  <strong><a href="https://docs.gitlab.com/ee/user/project/merge_requests/creating_merge_requests.html">merge request</a> (pull request)
  </strong> en <strong><a href="https://gitlab.com/eslibre/propuestas">this repository</a></strong>.
</p>

<p>
  For each type of contribution you have a template in the root folder of this repository. Copy it to the current year's folder, within
  the corresponding subfolder (talks, rooms, etc.). Use a file name that is not already used, and that reflects the title of your proposal.
  Fill it in and make a merge request that includes it, to propose your activity.
</p>

<p>
  <u>Anyone will be able to see these proposals, and if they want, comment on them</u>. The organization of
  <strong>es<span class="red">Libre</span></strong> will comment and accept (or not) those that seem convenient, according to your idea
  about the congress. If you propose a contribution, be alert to the comments you may receive, they might include questions and requests
  for clarification that might be convenient to answer.
</p>

<p>
  If you have problems of any kind, or don't know how to open a merge request, please
  <strong><a href="https://gitlab.com/eslibre/propuestas/issues/new">open an issue in this repository</a></strong>.
  In order to do this, you'll need to use a GitLab account.
</p>
