---
layout: 2020/default
section: info
title: Información práctica sobre esLibre
---

<h1 class="mt-3 mb-3">Información práctica</h1>

<p>
  Todavía estamos en proceso de concretar y organizar toda la información sobre la próxima edición de <strong>es<span class="red">Libre
  </span></strong>. Lo único que ya es fijo, es que la fecha de celebración será los días 5 y 6 de Junio de 2020: <strong>RESERVA LA FECHA!</strong>
</p>

<p style="padding-bottom: 33em;">Por ahora puedes consultar toda la información de la propuesta presentada por la <strong>Oficina de Conocimiento y Cultura Libres de la
  Universidad Rey Juan Carlos</strong> en la página de <a href="/acerca">Acerca de</a>.
  </p>
