---
layout: 2019/default
section: programa
title: Programa de esLibre
---

<h1 class="mt-3 mb-3">Programa</h1>

<h2 class="mt-3 mb-3">Actividades comunitarias</h2>
Cualquier persona está invitada, pero las consumiciones de cada asistente correrán por cuenta de cada uno de los mismos.<br><br>
<i>"Free as in free speech, not free beer"</i>.<br><br>
<ul>
  <li><strong>Jueves 20, 20:00. Cena:</strong> <a href="https://www.openstreetmap.org/way/437516242" target="_blank">Kiosko Restaurante Las Titas. Paseo de la Bomba, s/n</a></li>
  <li><strong>Viernes 21, 13:45-15:00. Almuerzo:</strong> <a href="https://www.openstreetmap.org/node/5907687908" target="_blank">La Posada. Calle Periodista Eugenio Selles, 10</a></li>
  <li><strong>Viernes 21, tras cierre. Cena:</strong> <a href="https://www.openstreetmap.org/node/5907687908" target="_blank">La Posada. Calle Periodista Eugenio Selles, 10</a></li>
  <li><strong>Viernes 21. Salida nocturna:</strong> Por decidir</li>
  <li><strong>Sábado 22, 10:00. Ruta turística geek + tapas:</strong> Salida desde <a href="https://osm.org/go/b7J7WJ2uh?m=" target="_blank">cruce de Cuesta Molinos con Plaza del Duque de San Pedro de Galatino</a>. Por favor, contestad a <a
      href='https://www.meetup.com/es-ES/Granada-Geek/events/261827851/'>este comentario para confirmar asistencia</a>, sólo se hará si hay un mínimo de 10 personas.</li>
</ul>

<h2 class="mt-3 mb-3">Horario</h2>

<p>Consultad en <a href='https://etsiit.ugr.es/pages/instalaciones_servicios/salas_aulas'>la web de la ETSIIT</a> la situación de los diferentes espacios. Todos menos el aula B1 están en el edificio principal.</p>
<table class="tg t_schedule">
  <tr>
    <th class="blank"></th>
    <th class="header" colspan="7">esLibre 2019</th>
  </tr>

  <tr>
    <td class="time empty"></td>
    <td class="size header_top"><a class="nav-link c_color f_title">Track 1:<br>Dev + Web</a></td>
    <td class="size header_top"><a class="nav-link c_color f_title">Track 2:<br>Social</a></td>
    <td class="size header_top"><a class="nav-link c_color f_title">Track 3:<br>Big Data, Machine Leaning and Cloud</a></td>
    <td class="size header_top"><a class="nav-link c_color f_title">Devroom 1:<br>Software Libre en la universidad</a></td>
    <td class="size header_top"><a class="nav-link c_color f_title">Devroom 2:<br>Privacidad, descentralización y soberanía digital</a></td>
    <td class="size header_top"><a class="nav-link c_color f_title">Devroom 3:<br>Perl*</a></td>
    <td class="size header_top"><a class="nav-link c_color f_title">Devroom 4:<br>Informática y matemáticas</a></td>
  </tr>
  <tr>
    <td class="time empty"></td>
    <td class="size header_mid"><a class="nav-link c_color f_title">(Salón de Grados)</td>
    <td class="size header_mid"><a class="nav-link c_color f_title">(Prefabricadas - Aula B1)</td>
    <td class="size header_mid"><a class="nav-link c_color f_title">(Salón de Actos)</td>
    <td class="size header_mid"><a class="nav-link c_color f_title">(Sala de Reuniones)</a></td>
    <td class="size header_mid"><a class="nav-link c_color f_title">(Polivalente -
        <br>Aula -1.2)</a></td>
    <td class="size header_mid"><a class="nav-link c_color f_title">(Sala de Juntas)</a></td>
    <td class="size header_mid"><a class="nav-link c_color f_title">(Sala de Usos Múltiples)</a></td>
  </tr>
  <tr>
    <td class="time empty"></td>
    <td class="size header_bot"><a class="nav-link c_color f_title"></td>
    <td class="size header_bot"><a class="nav-link c_color f_title"></td>
    <td class="size header_bot"><a class="nav-link c_color f_title"></td>
    <td class="size header_bot"><a href="{{ '/2019/programa/devrooms/sl_uni.html' | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a></td>
    <td class="size header_bot"><a href="{{ '/2019/programa/devrooms/privacidad.html' | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a></td>
    <td class="size header_bot"><a href="{{ '/2019/programa/devrooms/perl.html' | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a></td>
    <td class="size header_bot  "><a href="{{ '/2019/programa/devrooms/inf_mat.html' | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a></td>
  </tr>

  <tr>
    <td class="hour">9:30-10:00</td>
    <td class="breaks" colspan="7">Bienvenida</td>
  </tr>

  <tr>
    <td class="hour">10:00-10:15</td>
    <td class="breaks" colspan="7">Presentación del Congreso (Salón de Actos)</td>
  </tr>

  <tr>
    <td class="hour" rowspan="3">10:15-11:00</td>
    {% for paper in site.data.2019.program.first %}
    <td class="{{paper.class}}_top">
      {% if paper.class != "floss-uni" %}
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.first %}
    {% if paper.class == "floss-uni" %}
    <td class="c_color {{paper.class}}_mid" rowspan="4">
    </td>
    {% else %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.first %}
    {% if paper.class != "floss-uni" %}
    <td class="{{paper.class}}_bot">
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour" rowspan="3">11:00-11:45</td>
    {% for paper in site.data.2019.program.second %}
    {% if paper.class != "floss-uni" %}
    <td class="{{paper.class}}_top">
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.second %}
    {% if paper.class != "floss-uni" %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.second %}
    <td class="{{paper.class}}_bot">
      {% if paper.class != "floss-uni" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class="hour">11:45-12:15</td>
    <td class="breaks" colspan="7">Café patrocinado por GeNeura (cafetería de la ETSIIT)</td>
  </tr>

  <tr>
    <td class="hour" rowspan="3">12:15-13:00</td>
    {% for paper in site.data.2019.program.third %}
    <td class="{{paper.class}}_top">
      {% if paper.author != "#" %}
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.third %}
    <td class="c_color {{paper.class}}_mid">
      {% if paper.title != "#" %}
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.third %}
    {% if paper.class == "floss-uni" %}
    <td class="{{paper.class}}_mid" rowspan="3">
    </td>
    {% else %}
    <td class="{{paper.class}}_bot">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
      {% endif %}
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class="hour" rowspan="3">13:00-13:45</td>
    {% for paper in site.data.2019.program.fourth %}
    {% if paper.class != "floss-uni" %}
    <td class="{{paper.class}}_top">
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.fourth %}
    {% if paper.class != "floss-uni" %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.fourth %}
    <td class="{{paper.class}}_bot">
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class="hour">13:45-15:00</td>
    <td class="breaks" colspan="7">Comida</td>
  </tr>

  <tr>
    <td class="hour" rowspan="3">15:00-15:30</td>
    {% for paper in site.data.2019.program.fifth %}
    <td class="{{paper.class}}_top">
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.fifth %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.fifth %}
    {% if paper.class == "bd-ml" %}
    <td class="c_color {{paper.class}}_mid" rowspan="3">
    </td>
    {% elsif paper.class == "floss-uni" %}
    <td class="c_color {{paper.class}}_mid" rowspan="6">
    </td>
    {% else %}
    <td class="{{paper.class}}_bot">
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour" rowspan="3">15:30-16:00</td>
    {% for paper in site.data.2019.program.sixth %}
    {% if paper.class != "bd-ml" and paper.class != "floss-uni" %}
    <td class="{{paper.class}}_top">
      {% if paper.author != "#"%}
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
      {% endif %}
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.sixth %}
    {% if paper.class != "bd-ml" and paper.class != "floss-uni" %}
    {% if paper.class == "perl" or paper.class == "inf-mat" %}
    <td class="c_color {{paper.class}}_mid" rowspan="4">
    </td>
    {% else %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.sixth %}
    {% if paper.class != "floss-uni" and paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="{{paper.class}}_bot">
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour" rowspan="3">16:00-16:45</td>
    {% for paper in site.data.2019.program.seventh %}
    {% if paper.class != "floss-uni" and paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="{{paper.class}}_top">
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.seventh %}
    {% if paper.class != "floss-uni" and paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.seventh %}
    <td class="{{paper.class}}_bot">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class="hour">16:45-17:15</td>
    <td class="breaks" colspan="7">Café patrocinado por GeNeura (cafetería de la ETSIIT) </td>
  </tr>

  <tr>
    <td class="hour" rowspan="3">17:15-18:00</td>
    {% for paper in site.data.2019.program.eighth %}
    <td class="{{paper.class}}_top">
      {% if paper.author != "#" %}
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.eighth %}
    {% if paper.class == "perl" or paper.class == "inf-mat" %}
    <td class="c_color {{paper.class}}_mid" rowspan="7">
    </td>
    {% else %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.eighth %}
    {% if paper.class == "floss-uni" %}
    <td class="c_color {{paper.class}}_mid" rowspan="3">
    </td>
    {% else %}
    {% if paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="{{paper.class}}_bot">
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour" rowspan="3">18:00-18:45</td>
    {% for paper in site.data.2019.program.nineth %}
    {% if paper.class != "floss-uni" and paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="{{paper.class}}_top">
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.nineth %}
    {% if paper.class != "floss-uni" and paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="c_color {{paper.class}}_mid">
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.nineth %}
    {% if paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="{{paper.class}}_bot">
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endif %}
    {% endfor %}
  </tr>

  <tr>
    <td class="hour" rowspan="3">18:45-19:30</td>
    {% for paper in site.data.2019.program.tenth %}
    {% if paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="{{paper.class}}_top">
      {% if paper.author != "#" %}
      <a class="nav-link c_color c_pad">
        <p class="author">{{paper.author}}</p>
      </a>
      {% endif %}
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.tenth %}
    {% if paper.class != "perl" and paper.class != "inf-mat" %}
    <td class="c_color {{paper.class}}_mid">
      {% if paper.title != "#" %}
      <a class="nav-link c_pad">
        <p class="title">{{paper.title}}</p>
      </a>
      {% endif %}
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for paper in site.data.2019.program.tenth %}
    <td class="{{paper.class}}_bot">
      {% if paper.url != "#" %}
      <a href="{{ paper.url | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/info-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.file != "#" %}
      <a href="{{ paper.file | prepend: site.baseurl }}" target="_blank"><img src="{{ '/2019/assets/icons/save-regular.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.link != "#" %}
      <a href="{{paper.link}}" target="_blank"><img src="{{ '/2019/assets/icons/link-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a> &nbsp;
      {% endif %}
      {% if paper.video != "#" %}
      <a href="{{paper.video}}" target="_blank"><img src="{{ '/2019/assets/icons/video-solid.svg' | prepend: site.baseurl }}" height="20" width="20"></a>
      {% endif %}
    </td>
    {% endfor %}
  </tr>

  <tr>
    <td class="hour">19:30-19:45</td>
    <td class="breaks" colspan="7">Cierre</td>
  </tr>

  <tr>
    <td class="hour"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
    <td class="blank"></td>
  </tr>

  <tr>
    <td class="hour">20:00</td>
    <td class="breaks" colspan="7">Cena</td>
  </tr>

</table>
