---
layout: 2019/default
section: programa
title: esLibre 2019 - Mesa redonda - Las Oficinas de Software Libre en Universidades
---

<h1 class="mt-3 mb-3">Devroom 1: Software Libre en la universidad (12:15 - 13:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/gnu_linux.png" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Mesa redonda: "Las Oficinas de Software Libre en Universidades"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  Esta devroom estará compuesta por las siguientes charlas cortas:<br><br>
  <ul>
    <li><strong>Libertad institucionalizada: cómo ganar y perder la Universidad para el software libre</strong> por <a href="https://twitter.com/jjmerelo" target="_blank">Juan Julián Merelo Guervós</a></li>
    <li><strong>Sobre la libertad, las comunicaciones y la nueva sociedad</strong> por <a href="https://twitter.com/Terceranexus6" target="_blank">Paula de la Hoz Garrido</a></li>
    <li><strong>Oficina de Software Libre: renovarse o morir</strong> por <a href="https://twitter.com/DrPantera" target="_blank">Manuel Palomo Duarte</a></li>
    <li><strong>Renovación por extensión: la OfiLibre de la URJC</strong> por <a href="https://twitter.com/jgbarah" target="_blank">Jesús M. González Barahona</a></li>
    </ul>
  Para finalizar con la siguiente mesa redonda:<br><br>
    <ul>
      <li><strong>Debate abierto:</strong> ¿cuál es el papel del software libre en la Universidad? ¿cuál debería ser? ¿son convenientes las Oficinas institucionales para promoverlo?</li>
    </ul>
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Cualquier persona interesada por la importación, así como la situación actual, del Software Libre en el ámbito universitario.
</div>
