---
layout: 2020/default
section: acerca
title: Acerca de esLibre
---

<h1 class="mt-3">
  <strong>es<span class="red">Libre</span></strong>
</h1>

<p>
  <strong>es<span class="red">Libre</span></strong> es un encuentro de personas interesadas en las tecnologías libres, enfocado a compartir
  conocimiento y experiencia alrededor de las mismas.
</p>

<p>
  Después de la <a href="/2019" target="_blank">primera edición en Granada</a>, ya estamos en preparación de la edición del año 2020. La
  próxima edición se celebrará en Madrid como resultado de la propuesta <strong>Oficina de Conocimiento y Cultura Libres de la Universidad
  Rey Juan Carlos</strong>. Para que podáis tener algo más de información provisionalmente, os dejamos aquí todo la información contenida en
  dicha propuesta.
</p>

<h2>Propuesta para la Celebración de <strong>es<span class="red">Libre</span> 2020</strong> en Madrid (URJC)</h2>

<p>
  La Oficina de Conocimiento y Cultura Libres de la Universidad Rey Juan Carlos (OfiLibre de la URJC) propone organizar el <strong>Congreso
  es<span class="red">Libre</span> 2020</strong>, y para definir su propuesta ha preparado este documento.
</p>

<h3>
  Equipo organizador
</h3>

<p>
  El equipo organizador de <strong>es<span class="red">Libre</span> 2020</strong> estará coordinado por:
</p>

<ul>
  <li><a href="https://gsyc.urjc.es/jgb">Jesús M. González Barahona</a></li>
  <li><a href="https://gestion2.urjc.es/pdi/ver/francisco.gortazar">Francisco Gortázar Bellas</a></li>
</ul>

<p>
  Institucionalmente, la organización estará coordinada por:
</p>

<ul>
  <li><strong><a href="https://ofilibre.gitlab.io">OfiLibre de la URJC</a></strong></li>
</ul>

<p>
  Además, la organización cuenta con el apoyo de:
</p>

<ul>
  <li><strong>Vicerrectorado de Calidad, Ética y Buen Gobierno de la URJC</strong></li>
  <li><strong><a href="https://www.urjc.es/etsii">Escuela Técnica Superior de Ingeniería Informática de la URJC</a></strong></li>
  <li><strong><a href="https://www.urjc.es/etsit">Escuela Técnica Superior de Ingeniería de Telecomunicación de la URJC</a></strong></li>
</ul>

<p>Algunas organizaciones de estudiantes de la URJC también han mostrado su interés en colaborar:</p>

<ul>
  <li><strong><a href="https://robotech.etsit.urjc.es/">RoboTech</a></strong></li>
  <li><strong><a href="https://cosmos.etsit.urjc.es/">Cosmos</a></strong></li>
  <li><strong><a href="http://informaticosurjc.es/quienes-somos/">Informáticos URJC</a></strong></li>
</ul>

<p>Contamos también con la siguiente colaboración específica:</p>

<ul>
  <li><strong><a href="https://wikimedia.es">Wikimedia España</a> </strong> que tiene interés en participar colaborando en la organización
    de una sesión específica sobre cultura libre, si la organización de <strong>es<span class="red">Libre</span></strong> lo considera
    conveniente.</li>
</ul>

<h4>
  Breve reseña de los coordinadores
</h4>

<p>
  Jesús González Barahona trabaja como docente e investigador en la URJC, y anteriormente en la Universidad Carlos III. Tiene una larga
  trayectoria de relación con el mundo del software libre. Ha participado en numerosas actividades de información y promoción sobre software
  libre, ha investigado sobre la producción de software libre, ha participado en proyectos de desarrollo de software, y la creación y puesta
  en marcha de empresas con modelos basados en software libre. Tuvo la suerte de participar en el
  <a href="https://web.archive.org/web/20041221060001/http://congreso.hispalinux.es/congreso1998/">I Congreso de Hispalinux</a> como ponente,
  y en participar en la coordinación de tres Congresos de Hispalinux, dos en la Universidad Carlos III, y otro en la Universidad Rey Juan
  Carlos. Ha participado como ponente en numerosos congresos de la comunidad del software libre, pero también industriales y académicos, y
  tiene amplia experiencia en la organización de congresos, talleres y jornadas.
</p>

<p>
  Francisco Gortázar es docente e investigador en la URJC y ha trabajado anteriormente en diversas empresas del sector IT. Desde sus inicios
  en el mundo profesional ha estado interesado en el software libre, impartiendo cursos y seminarios sobre tecnologías libres como Git, Docker,
  Kubernetes o Spring. Actualmente coordina el proyecto europeo ElasTest cuyo software es liberado bajo licencia libre, y co-lidera el
  proyecto de software libre OpenVidu. En el pasado ha desarrollado otros productos software libre como plugins para el entorno de desarrollo
  Eclipse. Ha participado en congresos de la comunidad software libre y tiene una amplia experiencia en organización de talleres y seminarios.
</p>

<h4>Nuestra motivación</h4>

<p>
  Desde la OfiLibre de la URJC estamos interesados en promover el conocimiento del software libre, como una parte muy importante de la
  cultura libre. Organizar <strong>es<span class="red">Libre</span> 2020</strong> nos dará la oportunidad de realizar una acción muy
  importante en esta dirección, apoyando a la vez una iniciativa que nos gustaría que durase en el tiempo, siendo un lugar de reunión
  estable para la comunidad de software libre.
</p>

<p>
  Además, dado que nuestros intereses incluyen la cultura libre en general, y teniendo en cuenta que muchas de las personas interesadas en
  software libre lo están también en la cultura libre, nos gustaría aprovechar la oportunidad para abrir <strong>es<span class="red">Libre
  </span></strong> al mundo más amplio de la cultura libre, sin perder por eso su principal razón de ser.
</p>

<p>
  Por último, nos gustaría recuperar la tradición de la URJC de organizar eventos relacionados con software libre, en cuyo contexto se
  organizó, hace ya muchos años, uno de los últimos Congresos de Hispalinux.
</p>

<h4>
  Nuestra experiencia
</h4>

<p>
  Tanto los coordinadores principales como las instituciones que nos dan su apoyo tenemos amplia experiencia en la organización de congresos
  y eventos de este tipo. Como ya se comenta en la biografías, hemos estado directamente implicados en la organización de Congresos de
  Hispalinux, tanto en la URJC como en la UC3M (<a href="https://web.archive.org/web/20031206073609/http://congreso.hispalinux.es/edicion/2003/presentacion/" target="_blank">VI Congreso Hispalinux en la URJC</a>, <a href="https://web.archive.org/web/20041216052901/http://congreso.hispalinux.es/congreso2000/" target="_blank">
  III Congreso Hispalinux en la UC3M</a>, <a href="https://web.archive.org/web/20041216075334/http://congreso.hispalinux.es/congreso1999/" target="_blank">
  II Congreso Hispalinux en la UC3M</a>). Pero además tenemos amplia experiencia en la organización de congresos nacionales e internacionales,
  tanto académicos como industriales, muchos de ellos orientados al software libre o a las tecnologías libres en general.
</p>

<p>
  Somos también apasionados del modelo de congreso abierto, estilo FOSDEM, y tenemos mucha experiencia en este tipo de congresos, cuyo
  espíritu nos gustaría plasmar en <strong>es<span class="red">Libre</span> 2020</strong>.
</p>

<p>
  Institucionalmente, la URJC ha organizado gran cantidad de eventos de todo tipo, y tendremos a nuestra disposición gran parte de esa
  experiencia, gracias a la colaboración institucional de Vicerrectorados, Escuelas Técnicas, Asociaciones de Alumnos, y otras organizaciones
  de la propia Universidad.
</p>

<h4>
  Sobre la OfiLibre y la URJC
</h4>

<p>
  La <a href="https://www.urjc.es" target="_blank">Universidad Rey Juan Carlos</a> es una Universidad pública, fundada en 1996, con campus
  en los municipios de Móstoles, Fuenlabrada, Alcorcón, Madrid y Aranjuez. Con más de 40.000 alumnos, ofrece más de 60 grados en todas las
  áreas de conocimiento, y también programas de máster y doctorado. Entre otros centros, son de especial relevancia para esta propuesta la
  <a href="https://www.urjc.es/etsii" target="_blank">Escuela Técnica Superior de Ingeniería Informática</a>, radicada en Móstoles, con
  docencia en los campus de Móstoles y Madrid (Vicálvaro) y la <a href="https://www.urjc.es/etsit" target="_blank">Escuela Técnica Superior
  de Ingeniería de Telecomunicación</a>, con docencia en los campus de Fuenlabrada y Alcorcón.
</p>

<p>
  La <a href="https://www.urjc.es/ofilibre" target="_blank">Oficina de Conocimiento y Cultura Libre</a> (OfiLibre) de la URJC, dependiente
  del Vicerrectorado de Calidad, Ética y Buen Gobierno, tiene la función de informar, promocionar, coordinar y facilitar en sus ámbitos de
  actuación, y en colaboración con todos los agentes de la Universidad.
</p>

<p>
  En la OfiLibre queremos ayudar a la comunidad universitaria a comprender la cultura libre, la publicación libre, los datos abiertos y el
  software libre. Para ello nos dedicamos a explicar qué son, cómo funcionan, qué características tienen, y qué beneficios pueden producir,
  de forma que cualquiera pueda decidir cómo le conviene relacionarse con ellos.
</p>

<p>
  La OfiLibre es una iniciativa que trata de contar con la participación de toda la comunidad universitaria para que, entre todos, podamos
  encontrar nuestro camino en el mundo del conocimiento y la cultura libres.
</p>

<h4>
  Resumen de entidades colaboradoras o promotoras
</h4>

<ul>
  <li>
    <p>
      Vicerrectorado de Calidad, Ética y Buen Gobierno de la URJC
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/urjc.png" alt="URJC"/>
    </p>
  </li>
  <li>
    <p>
      OfiLibre de la URJC
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/ofilibre.png" alt="OfiLibre" />
    </p>
  </li>
  <li>
    <p>
      ETSII de la URJC
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/etsii.png" alt="ETSII" />
    </p>
  </li>
  <li>
    <p>
      ETSIT de la URJC
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/etsit.png" alt="ETSIT" />
    </p>
  </li>
  <li>
    <p>
      RoboTech
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/robotech.png" alt="RoboTech" />
    </p>
  </li>
  <li>
    <p>
      Cosmos
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/cosmos.jpg" alt="Cosmos" />
    </p>
  </li>
  <li>
    <p>
      Wikimedia España
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/wikimedia.png" alt="Wikimedia España" />
    </p>
  </li>
  <li>
    <p>
      Informáticos URJC
    </p>
    <p>
      <img src="/2020/assets/imgs/propuesta/logos/informaticos_urjc.png" alt="Informáticos URJC" />
    </p>
  </li>
</ul>

<h3>
  Formato del congreso
</h3>

<p>
  El formato del congreso se acordará de forma definitiva con el grupo organizador, por lo que lo siguiente puede considerarse como una
  propuesta a debatir. En cualquier caso, esta propuesta está fuertemente basada en el formato de <strong>es<span class="red">Libre</span>
  2019</strong>.
</p>

<p>
  El formato que se propone está compuesto de:
</p>

<ul>
  <li>
    Sesiones plenarias. Presentaciones de relevancia especial, orientadas a todos los asistentes. Organizadas por la organización general
    del congreso, en parte mediante convocatoria abierta, en parte por invitación. Durante su celebración no habrá otras sesiones paralelas
    ni talleres programados.
  </li>
  <li>
    Sesiones paralelas. Presentaciones especializadas, agrupadas temáticamente en "salas" (devrooms). Algunas de estas salas podrán ser
    propuestas por la organización general, y organizadas por ella (quizás co-organizadas con otras instituciones), pero en general serán
    el fruto de una "convocatoria de salas", abierta, a la que se presentarán grupos que quieran organizarlas. Los grupos que sean elegidos
    tras esa convocatoria se encargarán (normalmente mediante convocatoria abierta, pero también en algunos casos mediante invitación) de
    organizar el programa de cada sala, y de gestionarlas. Habrá hasta un máximo de 10, posiblemente entre 6 y 8 sesiones paralelas simultáneas.
  </li>
  <li>
    Talleres. Hasta un máximo de 4 (pero dependiendo del campus de celebración, quizás sólo uno o dos) talleres simultáneos.
  </li>
  <li>
    Mesas de comunidad. En principio, hasta un máximo de 8 (aunque probablemente se podría ampliar). Cada mesa estaría dedicada a un
    proyecto o a un grupo.
  </li>
</ul>

<p>
  En cuanto a duración, se proponen dos días, viernes y sábado (ver apartado "Posibles fechas").
</p>

<p>
  Se propone también organizar algunos premios, en la medida de lo posible por votación de los asistentes. Habrá también uno, elegido por
  el comité organizador (o por algún otro mecanismo similar), la "Mención especial del Congreso".
</p>

<h4>
  Sesiones plenarias
</h4>

<p>
  Habrá al menos:
</p>

<ul>
  <li>
    <p>
      Sesión de apertura (viernes por la mañana). Se tratará de invitar a un ponente relevante para que realice la apertura del congreso.
    </p>
  </li>
  <li>
    <p>
      Sesión de cierre (sábado por la tarde). Se hará un cierre del congreso, incluyendo la entrega de premios y el reconocimiento a los
      colaboradores y ponentes.
    </p>
  </li>
  <li>
    <p>Otras sesiones plenarias. Algunas de las ponencias recibidas en respuesta
      a la convocatoria de ponencias se seleccionarán como sesiones plenarias.</p>
  </li>
</ul>
<h4>Salas (devrooms)</h4>
<p>Cada sala tendrá su propio comité organizador, que se encargará del programa de la sala.
  La organización planificará también ponencias recibidas en respuesta a la convocatoria
  de ponencias en una o varias salas (alguna de ellas podrá ser la sala donde tengan
  lugar las sesiones plenarias, pero ya en modo paralelo).</p>
<p>Se espera organizar al menos una sala "general" (organizada por el comité general),
  y una sala sobre cultura libre co-organizada con Wikimedia España.</p>
<p>Además, habrá dos salas (no necesariamente funcionando durante todo el tiempo)
  con propósitos específicos:</p>
<ul>
  <li>Presentaciones relámpago (lightning talks): presentaciones cortas, elegidas entre
    las que se presenten a la convocatoria de ponencias, o por invitación.</li>
  <li>Descongreso: presentaciones o grupos de debate que se registren durante el propio
    congreso, o en cualquier caso sin proceso de selección previo (salvo encajar en la
    temática del congreso).</li>
</ul>
<h4>Talleres</h4>
<p>Se ofrecerá la posibilidad de organizar talleres, con un modo de organización
  similar al de las salas, sobre tecnologías libres. Las diferencias fundamentales
  con las salas serán:</p>
<ul>
  <li>Los talleres estarán orientados a "manos en la masa", donde los asistentes realicen
    trabajo propio durante el taller.</li>
  <li>Dispondrán de salas con ordenadores, si el trabajo a realizar es en ordenador.</li>
  <li>Tendrán una mayor duración, de forma que de tiempo a las exposiciones necesarias,
    y a que los asistentes hagan su trabajo.</li>
</ul>
<h4>Mesas de comunidad</h4>
<p>Se ofrecerá una mesa a los proyectos, y grupos de comunidad, que quieran
  disponer de ella. Las mesas se ofrecerán por periodos de un día (o de ambos días).
  Los proyectos o grupos que gestionen las mesas se comprometerán a
  tener voluntarios siempre presentes en ellas (excepto durante las sesiones
  plenarias), y a interactuar con los asistentes para mostrarles su proyecto
  o su grupo.</p>
<h4>Convocatorias</h4>
<ul>
  <li>
    <p>Convocatoria de salas y talleres. Convocatoria abierta a cualquier grupo que quiera
      organizar una sala o un taller. Estos grupos tendrán que preparar una propuesta,
      que será evaluada por el grupo organizador, que elegirá las que finalmente se lleven a cabo.</p>
  </li>
  <li>
    <p>Convocatoria de ponencias y mesas. Convocatoria abierta a cualquier persona o grupo de personas
      que quieran proponer una presentación plenaria o en las salas gestionadas por la organización,
      o una mesa de comunidad.
      Cada ponencia podrá proponerse como ponencia plenaria, o como ponencia relámpago,
      pero la organización decidirá en qué formato se acepta (que podría ser otro, distinto
      del propuesto). Si se acepta en un formato distinto del propuesto, quien propuso podrá
      aceptar o no.</p>
  </li>
</ul>
<p>Las convocatorias se gestionarán mediante merge requests a un repositorio en GitLab,
  o procedimiento similar. Las propuestas serán públicas desde el momento en que se hagan,
  y podrán ser comentadas por cualquiera. Todas las propuestas tendrán al menos dos
  comentarios por el equipo organizador. Finalmente, según los comentarios recibidos,
  las propuestas se aceptarán o no. Los comentarios serán también públicos.</p>

<h3>Fechas</h3>
<p>Las fechas preferibles para la celebración del congreso
  son los días 5 y 6 de junio, aunque habría también posibilidades de
  celebrar el congreso los días 29 y 30 de mayo, o quizás en otras fechas.
  En cualquier caso, se propone un esquema de dos días, viernes y sábado,
  para dar oportunidades tanto a quien quiera asistir en tiempo de trabajo,
  como para quien prefiera (o tenga que) hacerlo en tiempo de ocio.</p>
<p>Los dos días podrían ser en el mismo campus, o en campus distintos.</p>

<p>Otras fechas:</p>
<ul>
  <li>Convocatoria de ponencias, salas, talleres y mesas: enero</li>
  <li>Elección de ponencias, salas, talleres y mesas: marzo</li>
  <li>Programa disponible: abril</li>
  <li>Informe final: julio</li>
</ul>
<h3>Presupuesto económico</h3>
<p>La asistencia al congreso será libre y gratuita. La URJC correrá con cualquier
  gasto derivado de la apertura de los campus para la celebración del congreso,
  y del normal uso de su infraestructura.</p>
<p>Los ponentes y los grupos organizadores (de salas, de talleres, etc.) en general no recibirán contraprestaciones
  económicas por su participación en el congreso.</p>
<p>Los colaboradores en la organización del congreso no recibirán contraprestaciones
  económicas por esta participación.</p>
<p>Se dispondrá de una pequeña bolsa de presupuesto, aportada por la URJC, que podría cubrir:</p>
<ul>
  <li>Ponente invitado. Gastos de desplazamiento y estancia de un ponente invitado relevante,
    si se tuviera que desplazar desde fuera de la Comunidad de Madrid.</li>
  <li>Premios. Gastos de compra de pequeños reconocimientos a los ganadores de los premios.</li>
  <li>Grabación de ponencias. Gastos de la grabación de las ponencias plenarias, y quizás
    de alguna de las salas. Dependiendo de presupuesto, quizás esto permita también
    la transmisión en streaming de alguna de las ponencias.</li>
</ul>
<p>Además, se organizará una búsqueda de patrocinios para gastos concretos
  (por ejemplo, bebidas de cortesía para ponentes).
  En cualquier caso, estos patrocinios no podrán estar ligados a ninguna influencia
  sobre el programa, y sólo darán derecho a aparecer como patrocinador
  en el sitio web de congreso, y si lo aportan, a un cartel en la sala de sesiones plenarias.</p>

<h3>Facilidades disponibles</h3>

<p>El congreso se celebrará en uno de los campus de la URJC. Los tres campus
  candidatos son los de Móstoles, Fuenlabrada y Vicálvaro. Cada uno tiene
  sus propias ventajas, dependiendo de fechas exactas y de orientación del
  congreso. El campus de Vicálvaro es el de mejor disponibilidad según fechas
  (estaría disponible con seguridad durante todas las fechas propuestas), y
  está más cerca del centro de Madrid y del aeropuerto. El campus de
  Móstoles dispone de una sala de alta capacidad (unas 500 personas), que
  podría ser usada según las fechas. El campus de Fuenlabrada es el
  que ofrece una oferta más compacta (todo podría estar básicamente en el
  mismo edificio), y unas mejores opciones de laboratorios (ya instalados
  con software libre) en caso de que se quieran utilizar para talleres
  prácticos. Los campus de Fuenlabrada y Vicálvaro están más imbricados
  en sus respectivas poblaciones, lo que ofrece más oportunidades, por ejemplo,
  de restauración.</p>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/mostoles2.jpg" alt="urjc_rectorado" class="center"/>
</p>
<p>Sin embargo, en líneas generales estas diferencias entre campus son menores.
  Todos ellos ofrecen un buen conjunto de sala grande para sesiones plenarias
  y salas medianas para sesiones en paralelo. En todos ellos hay opciones para
  talleres prácticos. Todos están bien comunicados por transporte público
  (todos tienen una parada de metro junto al campus), y todos disponen de
  aparcamiento. En todos habrá oportunidades para restauración. Por lo tanto,
  pensamos que la decisión sobre la sede exacta se tomará mejor de acuerdo con
  la organización de <strong>es<span class="red">Libre</span></strong>, teniendo en cuenta fechas y otros factores.
  Cabe incluso la posibilidad de realizar cada uno de los dos días en un
  campus distinto. Esta propuesta pone a disposición de <strong>es<span class="red">Libre</span></strong> los tres
  campus, para que se pueda tomar la mejor decisión en su momento.</p>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/mostoles6.jpg" alt="urjc_sala" class="center"/>
</p>
<p>En resumen, en cualquiera de los campus, se ofrecería al menos:</p>
<ul>
  <li>Una sala grande (más de 200 personas) para sesiones plenarias</li>
  <li>Un mínimo de 8 salas medianas (20-80 personas) para salas (devrooms).</li>
  <li>Un mínimo de un laboratorio de ordenadores para talleres.</li>
  <li>Un mínimo de una sala para ponentes y organización.</li>
  <li>Un mínimo de una zona para recepción de asistentes.</li>
</ul>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/mostoles8.jpg" alt="urjc_sala2" class="center"/>
</p>
<h4>Campus de Móstoles</h4>
<p>
  <a href="https://www.urjc.es/universidad/campus/campus-de-mostoles">Información en el sitio web de la URJC</a>
</p>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/mostoles-3d.jpg" alt="plano3d mostoles" class="center"/>
  <img src="/2020/assets/imgs/propuesta/imagenes/mostoles5.jpg" alt="plano3d mostoles2" class="center"/>
</p>
<p>En caso de celebrarse el congreso en este campus, podrían usarse
  las siguientes instalaciones:</p>
<ul>
  <li>
    <p>Aula Magna, edificio Aulario III, capacidad 244 personas. Esta sala
      podría usarse para las sesiones plenarias. Está dotada de proyector,
      equipo de sonido, micrófonos, grabación de vídeo y pizarras.</p>
  </li>
  <li>
    <p>Aulas, edificio Aulario III, capacidad entre 60 y 100 personas.
      Están dotadas de equipo de proyector, pizarras, y en algunos casos,
      equipo de sonido y micrófonos. Podremos disponer de al menos 10 de estas
      salas, según necesidades. </p>
  </li>
  <li>
    <p>Laboratorios informáticos, probablemente en edificio Laboratorios III, capacidad
      entre 40 y 60 personas. Están dotadas de equipos informáticos (normalmente
      40 puestos), proyector, y pizarras. Podremos disponer de al menos 2 de estas salas,
      según necesidades.</p>
  </li>
</ul>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/mostoles1.png" alt="foto_mostoles" class="center"/>
</p>
<p>El edificio Aulario III y el edificio Laboratorios III están contiguos,
  de forma que todas las sesiones del congreso se realizarían en la misma zona,
  con periodos de desplazamiento máximos de 2-3 minutos entre las distintas salas.</p>
<p>Quizás estuviera disponible (pendiente de confirmación, y dependiendo de la fecha final):</p>
<ul>
  <li>Salón de Actos de edificio de Rectorado, capacidad 500 personas,
    proyector, equipo de sonido, micrófonos.</li>
</ul>
<h4>Campus de Fuenlabrada</h4>
<p>
  <a href="https://www.urjc.es/universidad/campus/campus-de-fuenlabrada">Información en el sitio web de la URJC</a>
</p>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/fuenla-3d.jpg" alt="plano3d fuenlabrada" class="center"/>
  <img src="/2020/assets/imgs/propuesta/imagenes/fuenla4.jpg" alt="plano3d fuenlabrada2" class="center"/>
</p>
<p>En caso de celebrarse el congreso en este campus, podrían usarse
  las siguientes instalaciones:</p>
<ul>
  <li>
    <p>Aula Magna, edificio Aulario III, capacidad 234 personas. Esta sala
      podría usarse para las sesiones plenarias. Está dotada de proyector,
      equipo de sonido, micrófonos, grabación de vídeo y pizarras.</p>
  </li>
  <li>
    <p>Aulas, edificio Aulario III, capacidad entre 60 y 100 personas.
      Están dotadas de equipo de proyector, pizarras, y en algunos casos,
      equipo de sonido y micrófonos. Podremos disponer de al menos 10 de estas
      salas, según necesidades. </p>
  </li>
  <li>
    <p>Laboratorios informáticos, probablemente en edificio Laboratorios III, capacidad
      entre 40 y 80 personas. Están dotadas de equipos informáticos (normalmente
      uno por persona), proyector, y pizarras. Podremos disponer de al menos 4 de estas salas,
      según necesidades. Las salas que se usasen tienen instalados sistemas
      Linux, basados en Mint/Ubuntu Más información en el
      <a href="https://labs.etsit.urjc.es/">sitio web de los laboratorios
        Linux de la ETSIT</a>.
    </p>
  </li>
</ul>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/fuenla2.jpg" alt="foto_fuenlabrada" class="center"/>
</p>
<p>El edificio Aulario III y el edificio Laboratorios III están contiguos,
  unidos por un pasillo voladizo,
  de forma que todas las sesiones del congreso se realizarían en la misma zona,
  con periodos de desplazamiento máximos de 2-3 minutos entre las distintas salas.</p>
<p>Quizás estuviera disponible (pendiente de confirmación, y dependiendo de la fecha final):</p>
<ul>
  <li>Salón de Actos de edificio de Gestión, capacidad unas 250 personas,
    proyector, equipo de sonido, micrófonos.</li>
</ul>
<h4>Campus de Vicálvaro</h4>
<p>
  <a href="https://www.urjc.es/universidad/campus/campus-de-mostoles">Información en el sitio web de la URJC</a>
</p>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/vical-3d.jpg" alt="plano3d vicalvaro" class="center"/>
  <img src="/2020/assets/imgs/propuesta/imagenes/vical1.png" alt="plano3d vicalvaro2" class="center"/>
</p>
<p>En caso de celebrarse el congreso en este campus, podrían usarse
  las siguientes instalaciones:</p>
<ul>
  <li>
    <p>Salón de Grados, capacidad 259 personas. Esta sala
      podría usarse para las sesiones plenarias. Está dotada de proyector,
      equipo de sonido, micrófonos, grabación de vídeo y pizarras.</p>
  </li>
  <li>
    <p>Aulas, capacidad entre 60 y 100 personas.
      Están dotadas de equipo de proyector, pizarras, y en algunos casos,
      equipo de sonido y micrófonos. Podremos disponer de al menos 10 de estas
      salas, según necesidades. </p>
  </li>
  <li>
    <p>Laboratorios informáticos, capacidad
      entre 40 y 60 personas. Están dotadas de equipos informáticos (normalmente
      40 puestos), proyector, y pizarras. Podremos disponer de al menos 2 de estas salas,
      según necesidades.</p>
  </li>
</ul>
<p>
  <img src="/2020/assets/imgs/propuesta/imagenes/vical6.jpg" alt="foto_vicalvaro" class="center"/>
</p>
<p>El Salón de Grados, las aulas y los laboratorios están situadas en
  edificios contiguos,
  de forma que todas las sesiones del congreso se realizarían en la misma zona,
  con periodos de desplazamiento máximos de 2-3 minutos entre las distintas salas.</p>
<h3>Aspectos logísticos</h3>
<p>Los tres campus propuestos disponen de cafetería, en la que
  también se sirven comidas, bocadillos, etc. En el caso del campus de Vicálvaro,
  la cafetería está abierta viernes y sábado (los dos días que se propone organizar
  el congreso). En los otros dos campus, está abierta el viernes y se negociaría
  su apertura el sábado, con el apoyo de la Gerencia de los campus correspondientes
  (por lo que no se prevén problemas al respecto).
  Además, en los campus de Vicálvaro y Fuenlabrada hay en las cercanías (alrededor
  de cinco minutos andando) varios establecimientos de restauración y cafeterías.</p>
<p>Se explorará la opción de patrocinio, bien institucional de la Universidad,
  o bien de terceras partes, para poder ofrecer café y quizás catering o vales
  de comida a los
  asistentes, pero en el momento de redactar esta propuesta, esto es algo que
  no se puede garantizar.</p>
<p>Se explorará esta posibilidad, vía los contactos de la URJC con agencias de viaje
  y entidades de transporte.</p>

<p>En todos los campus hay hoteles cercanos a precios asequibles, si se realizan
  reservas con la antelación suficiente (especialmente en los campus de Fuenlabrada
  y Móstoles). Se explorará la aplicación de descuentos mediante los acuerdos que
  tiene la Universidad con alguno de estos hoteles.</p>
<p>Madrid es una de las ciudades mejor comunicadas, tanto con el resto de España
  como con el resto de Europa y el mundo:</p>
<ul>
  <li>
    <p>Avión: el aeropuerto
      <a href="https://www.aeropuertomadrid-barajas.com/">Fernando Suárez Madrid-Barajas</a>
      (<a href="http://www.aena.es/es/aeropuerto-madrid-barajas/index.html">información oficial</a>)
      ofrece conexiones con muchas ciudades españolas, europeas, y de otras partes del mundo.
      Los horarios de los vuelos permitirían viajar, desde muchas ciudades de España
      y Europa, la misma mañana de comienzo del congreso,
      y realizar el viaje de vuelta durante el misma día de clausura, minimizando el
      tiempo de desplazamiento.
    </p>
  </li>
  <li>
    <p>Tren: las dos estaciones principales de Madrid (Atocha y Chamartín) están conectadas
      con muchas ciudades españolas por línea de alta velocidad. Esto permite desplazamientos
      relativamente cortos en tiempo (en muchos casos, de menos de dos horas y media).
      Más información, incluyendo horarios y tarifas, en el
      <a href="http://www.renfe.com/">sitio web de RENFE</a>.
      En muchos casos, esta opción es mejor en tiempo que el avión, aunque su coste
      puede en algunos casos ser superior.
    </p>
  </li>
  <li>
    <p>Autobús: Madrid dispone de muchas conexiones de autobús con otras ciudades
      españolas, lo que facilitaría un desplazamiento económico, dado que en general
      es una opción más barata que el avión o el tren.</p>
  </li>
  <li>
    <p>Coche compartido: Madrid es uno de los destinos más populares en sitios web
      de viajes en coche compartido. Esta es una opción en general más barata que las
      anteriores, y que permitiría además la organización de desplazamientos conjuntos
      por varios asistentes al congreso.</p>
  </li>
  <li>
    <p>Coche particular: Madrid está conectada mediante autovía y autopista.
      Los desplazamientos desde otras partes de la Península son en gran parte menores de
      cuatro horas, y raramente de más de seis horas (descansos no incluidos).</p>
  </li>
</ul>
<p>Una vez en la Comunidad de Madrid, hay varias opciones para desplazarse
  hasta los campus de la URJC:</p>
<ul>
  <li>
    <p>Transporte público. Madrid dispone de uno de los mejores sistemas de
      transporte público a nivel mundial, con combinación de metro, autobús y tranvía ligero.
      Puede consultarse detalles sobre las opciones de transporte en el

      <a href="https://www.crtm.es/muevete-por-madrid.aspx">Consorcio de transportes de la Comunidad de Madrid</a>.
      En el sitio web del congreso se detallarán las mejores opciones para llegar al
      campus de celebración del congreso, incluyendo opciones de abono turístico,
      recorridos desde aeropuerto y estaciones de tren de Madrid. En general, los
      recorridos en transporte público desde el centro de Madrid hasta los campus son
      de unos 30-40 minutos (por ejemplo, desde la Estación de Atocha).
      Todos los campus cuentan con una parada de metro.
    </p>
  </li>
  <li>
    <p>Taxis y servicios con conductor. Además de un servicio de taxis, Madrid cuenta
      con empresas de servicios con conductor (Uber, Cabify).</p>
  </li>
  <li>
    <p>Vehículo particular. Los tres campus están bien conectados mediante autovías
      con la red de autovías de la Comunidad de Madrid, con tiempos de desplazamiento desde
      el centro de Madrid (M-30) en torno a los 20-25 min. si las condiciones de tráfico
      lo permiten. Todos los campus cuentan con amplios aparcamientos.</p>
  </li>
</ul>
<h4 id="campusdemstoles-1">Campus de Móstoles</h4>
<ul>
  <li>Dirección: Calle Tulipán s/n. 28933 - Móstoles - Madrid</li>
  <li>En tren: Estación: Móstoles - El Soto C-5. RENFE Cercanías </li>
  <li>En Metro: Estación: Universidad Rey Juan Carlos. L-12.</li>
  <li>En autobús: Autobuses Blas &amp; CIA L-522, 523, 525, 526 y 529H</li>
  <li>Coordenadas GPS: Lat: 40.335913308819116 Lng: -3.8732171058654785</li>
  <li>
    <a href="https://www.urjc.es/universidad/campus/campus-de-mostoles/564-situacion-planos-campus-mostoles">Información detallada</a>
  </li>
</ul>
<h4 id="campusdefuenlabrada-1">Campus de Fuenlabrada</h4>
<ul>
  <li>Dirección: Camino del Molino s/n. 28943 Fuenlabrada – Madrid</li>
  <li>En tren: Estación Fuenlabrada C-5. RENFE Cercanías </li>
  <li>En Metro: Estación Hospital de Fuenlabrada L-12.</li>
  <li>En autobús: Autobuses Blas &amp; CIA Avenida de Atenas L-1, 2, 3, 4, 5 y 6 </li>
  <li>Coordenadas GPS: Lat: 40.28194999999999 Lng: -3.819430000000011</li>
  <li>
    <a href="https://www.urjc.es/universidad/campus/campus-de-fuenlabrada/562-situacion-planos-campus-fuenlabrada">Información detallada</a>
  </li>
</ul>
<h4 id="campusdeviclvaro-1">Campus de Vicálvaro</h4>
<ul>
  <li>Dirección: Paseo de los Artilleros s/n. 28032 - Vicálvaro - Madrid</li>
  <li>En tren: Estación Vicálvaro C-2, C-7. RENFE Cercanías </li>
  <li>En Metro: Estación Vicálvaro L-9</li>
  <li>En autobús(EMT):



    <ul>
      <li>Calle Daroca: 4, 100, 106, 130, N7. Calle Daroca-Camino Viejo: 4, 100, 106, 130</li>
      <li>Calle Artilleros-S. Cipriano: 4, 106, N7, E3. Calle Calahorra: 4, 106, 130, N7</li>
    </ul>
  </li>
  <li>
    <a href="https://www.urjc.es/universidad/campus/campus-de-madrid/563-situacion-planos-campus-madrid">Información detallada</a>
  </li>
</ul>
<h3>Alojamiento</h3>
<p>Los tres campus que se proponen están suficientemente cercanos a las zonas turísticas
  o comerciales de Madrid como para que sea perfectamente posible utilizar su capacidad
  hotelera como alojamiento. Madrid dispone de varias decenas de miles de plazas de hotel,
  y muchas más en pisos compartidos.</p>
<p>A continuación se indican algunos datos más concretos relativos a los tres campus que se ofrecen.</p>
<h4 id="campusdemstoles-2">Campus de Móstoles</h4>
<p>Cerca del campus se encuentra el
  <a href="https://www.hotelciudaddemostoles.es/?gclid=CjwKCAjw04vpBRB3EiwA0Iieap6JgdpE9duEnb1Uu3-BWz3C8d0wiRDr4NUZ1Qxw5RzeXu3LjYubdRoCAqUQAvD_BwE">Hotel Ciudad de Móstoles</a>,
  con un precio entre 60 y 80 euros la noche en habitación individual.
</p>
<p>El
  <a href="https://www.laprincesa.com/">Hotel La Princesa</a>, también en Móstoles, cuesta entre 50 y 70.
</p>
<p>En Alcorcón (a tres o cuatro paradas de metro) hay alojamientos algo mas baratos,
  oscilando los 40 y los 50 euros por noche y encontrándose a una distancia relativamente cercana del campus de Móstoles.
  En otros pueblos interconectados por MetroSur (Fuenlabrada, Getafe, Leganés) hay
  una amplia oferta hotelera, y el desplazamiento desde el centro de Madrid es relativamente corto.</p>
<h4 id="campusdefuenlabrada-2">Campus de Fuenlabrada</h4>
<p>El hotel mas cercano al campus es el
  <a href="https://www.lcbhoteles.es/">LCB Fuenlabrada</a>, con un precio entre 50 y 60€, el resto de hoteles del barrio están mas lejos pero son algo mas baratos.
  En otros pueblos interconectados por MetroSur (Fuenlabrada, Móstoles, Alcorcón, Getafe, Leganés) hay
  una amplia oferta hotelera, y el desplazamiento desde el centro de Madrid es relativamente corto.
</p>
<h4 id="campusdeviclvaro-2">Campus de Vicálvaro</h4>
<p>En Vicálvaro se encuentra el
  <a href="https://www.aparthotelencasa.es/">Apartahotel Encasa</a>,
  con habitaciones en torno a los 100 euros por noche.
  La zona del aeropuerto, y el centro de Madrid, están razonablemente cerca,
  con una gran oferta hotelera.
</p>
<h3>Otra información</h3>
  <p>
    <strong>Relación con otras comunidades tecnológicas y/o divulgativas que pudieran participar:</strong>
  </p>
  <p>Además de las asociaciones de Estudiantes y las Escuelas de Ingeniería que participan
    en la propuesta, se cuenta en el apoyo de Wikimedia España para ampliar el
    ámbito de <strong>es<span class="red">Libre</span></strong> a áreas menos tecnológicas (cultura libre en general), si la
    organización de <strong>es<span class="red">Libre</span></strong> lo considera adecuado. Los contactos de los coordinadores
    principales aseguran la involucración de otras comunidades tecnológicas y divulgativas.
    En particular, se explorará la asistencia de alumnos de Educación Secundaria,
    a través de una red de centros de Educación Secundaria con interés en software libre
    de la Comunidad de Madrid, y de otras Universidades madrileñas, vía sus asociaciones
    de estudiantes, sus escuelas técnicas, y sus oficinas relacionadas con software libre.</p>
  <p>
    <strong>Cómo se gestionaran las solicitudes de ponencias y las inscripciones de los asistentes:</strong>
  </p>
  <p>El proceso de recepción de propuestas de ponencias, y su selección, se hará de forma
    similar a como se realizó en <strong>es<span class="red">Libre</span> 2019</strong>, siguiendo un proceso basado en "merge requests"
    en GitLab. Como uno de los coordinadores de esta propuesta participó activamente
    durante ese proceso, está asegurada su correcta puesta en marcha y funcionamiento.</p>
  <p>Para gestionar inscripciones se utilizara, si la organización de <strong>es<span class="red">Libre</span></strong> lo estima conveniente,
    el
    <a href="https://eventos.urjc.es/">sitio de gestión de eventos de la URJC</a>, que permite
    la publicidad del evento, la inscripción en el mismo, la gestión de inscripciones
    y comunicación con los inscritos, y en su caso, la emisión de certificados de asistencia.
    El equipo coordinador de esta propuesta tiene buena experiencia con esta herramienta,
    pues la ha utilizado en numerosas ocasiones para la organización de eventos de la OfiLibre.
    Su utilización previa en eventos de gran número de asistentes (como las Jornadas de Innovación Docente,
    con varios cientos de asistentes) asegura su escalabilidad para las necesidades del congreso.
  </p>
  <p>
    <strong>Posible conciliación de familias asistentes al congreso:</strong>
  </p>
  <p>Se planificarán algunas actividades para niños, en general en el ámbito tecnológico.
    Se tratará también de organizar un espacio para que los niños que no tengan la
    edad para disfrutar de estas actividades antes citadas puedan estar atendidos,
    aunque en el momento de escribir esta propuesta aún no sabemos si vamos a disponer
    de voluntarios suficientes para mantenerlo con garantías.</p>

  <p><strong>Planes para actividades comunitarias fuera del horario del congreso (comida/cena de la comunidad, ruta turística/culturar, salida nocturna...):</strong></p>
  <p>Se facilitará la comida, como se ha indicado en el apartado correspondiente.
    Se organizará una cena de comunidad, el viernes, con inscripción previa y pago por cada
    asistente. Se organizará también para esa misma tarde del viernes, una visita
    a algún lugar de interés, probablemente en el centro de Madrid, si es posible
    combinándola con una ruta de tapeo.
    Es muy posible que se organice una visita del domingo a algún lugar cercano
    a Madrid.</p>

<h3>Condiciones</h3>

<p>Se hará lo posible para que todas las presentaciones, talleres y otras actividades
  estén centradas en el software libre (o más genéricamente, en tecnologías libres
  y cultura libre). Para evitar ambigüedades, se entenderá por software libre el que se distribuye
  mediante una licencia que cumple la
  <a href="https://opensource.org/osd">Open Source Definition</a>
  o las
  <a href="https://www.debian.org/social_contract">Debian Free Software Guidelines</a>.
  Igualmente, se entenderá por cultura libre la que sea distribuida de acuerdo con
  la
  <a href="https://freedomdefined.org/Definition">Free Cultural Works Definition</a>.
</p>
<p>En la medida de lo posible, se utilizará software libre para la organización del congreso
  (aunque desgraciadamente alguno de los equipos que se usen, especialmente los que
  forman parte de la infraestructura de la URJC, van a incluir software no libre).</p>
<p>Todos los materiales que se generen durante la organización del congreso, salvo
  los que puedan incluir información confidencial o con implicaciones sobre la privacidad de las personas,
  será distribuida con licencias de cultura libre. </p>
