---
layout: 2019/default
section: programa
title: esLibre 2019 - Jesús M. González Barahona - Hace más de 10 años que hacía 10 años
---

<h1 class="mt-3 mb-3">Track 2: Social (15:00 - 15:30)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/gonzalez-barahona_jesus_m.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name mt-3 mb-3">Jesús M. González Barahona: "Hace más de 10 años que hacía 10 años"</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  En 2007 tuve la suerte de hacer una presentación en el <strong>X Congreso de Hispalinux</strong> que se tituló <strong>"El software libre durante los últimos 10 años"</strong>. Desde entonces han pasado más de 10 años, y me ha parecido interesante
  repetir el ejercicio, con la nueva
  perspectiva que da el tiempo.
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  La presentación mostrará brevemente la realidad del software libre durante los 10 primeros años de vida de <a href="https://hispalinux.es/" target="_blank">Hispalinux</a>, y la comparará, desde un punto de vista quizás nostálgico, con la realidad
  actual. Igual que hace 10 años, se repasará un poco el
  panorama general, la situación que tenemos, y los principales problemas que se encuentra el software libre.<br><br>
  La conclusión de la presentación de 2017 fue <i>"se ha avanzado mucho, pero aún queda mucho por avanzar"</i>. Si vienes a esta presentación, podrás saber la conclusión 10 años después...
</div>

<div class="speaker-text">
  <h3>Público objetivo</h3>
  Cualquiera persona que quiera reflexionar un poco sobre estos temas existenciales que a veces nos preocupan: ¿de dónde venimos? ¿a dónde vamos?
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong>Jesús M. González Barahona</strong> profesor titular y coordinador de la <a href="https://twitter.com/OfiLibreURJC" target="_blank">Oficina de Conocimiento y Cultura Libres de la Universidad Rey Juan Carlos</a>. Lleva algún tiempo
  interesado en entender el mundo del software libre, y ha tenido oportunidad de hablar sobre temas relacionados con él en algunas ocasiones. Entre ellas, en al menos cinco congresos de
  Hispalinux, incluyendo el primero.<br><br>
  <a href="https://github.com/jgbarah" target="_blank"><img src="{{ "/2019/assets/icons/github-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://gitlab.com/jgbarah" target="_blank"><img src="{{ "/2019/assets/icons/gitlab-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://twitter.com/jgbarah" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/jgbarah/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
