---
layout: 2019/default
section: programa
title: esLibre 2019 - Dafne Calvo - Soberanía digital en tiempos electorales - propuesta de un taller de empoderamiento ciudadano frente a los bots en Twitter
---

<h1 class="mt-3 mb-3">Devroom 2: Privacidad, descentralización y soberanía digital<br>(12:15 - 12:45)</h1>

<div class="speaker-header">
  <div class="speaker-photo">
    <img class="speaker-img" src="{{ "/2019/assets/imgs/speakers/calvo_dafne.jpg" | prepend: site.baseurl }}">
  </div>
  <div class="flex-column">
    <h2 class="speaker-name-large mt-3 mb-3">Dafne Calvo: "Soberanía digital en tiempos electorales: propuesta de un taller de empoderamiento ciudadano frente a los bots en Twitter" [charla por videoconferencia]</h2>
    <hr class="undertitle">
  </div>
</div>

<div class="speaker-text">
  <h3>Descripción</h3>
  <i>Conferencia online presentada junto con Lorena Cano (<a href="mailto:lorena.cano@uv.es">lorena.cano@uv.es</a>) y Almudena Esteban (<a href="mailto:almudena.es.ab@gmail.com">almudena.es.ab@gmail.com</a>).</i><br><br>
  El ecosistema de medios está en constante cambio, transformándose a un ritmo que las instituciones educativas no pueden seguir (<i>Scolari, 2016; Cobo y Moravec, 2011</i>). Hace ya más de tres décadas que la <a href="https://es.unesco.org/"
    target="_blank">UNESCO</a> transmitió la necesidad de fomentar la
  educación mediática para impulsar una ciudadanía crítica y participativa, capaz de entender los medios de comunicación, sus mensajes y sus lenguajes (<i>Grünwald, 1982</i>). Aún hoy esa necesidad de comprensión del medio y sus narrativas transmedia
  es una
  preocupación de educadores, investigadores e instituciones educativas (<i>Vuorikari et al. 2016; European Commission, 2009; Ferrés, 2007</i>).<br><br>
  En la transformación del ecosistema mediático se ha introducido la inteligencia artificial (IA), adaptándola a las <a href="https://es.wikipedia.org/wiki/Red_social" target="
  ">redes sociales</a> con diversos fines, también políticos (<i>Campos-Domínguez y García-Orosa, 2018</i>). En este trabajo realizamos una
  aproximación a la <a href="https://es.wikipedia.org/wiki/Inteligencia_artificial" target="_blank">IA</a> en formato <a href="https://es.wikipedia.org/wiki/Bot" target="
  ">bot</a>, como herramienta automatizada para publicar contenido en Twitter. Los llamados bots sociales con objetivos políticos específicos imitan el comportamiento humano para viralizar el contenido de determinados
  emisores, crear un clima de opinión, conseguir convertir un tema en <a href="https://es.wikipedia.org/wiki/Trending_topic" target="_blank">Trending Topic</a>, participar en conversaciones políticas que surgen alrededor de hashtags para apoyar -o
  boicotear- o enviar comentarios positivos en torno a una idea o candidatura
  (<i>Powers & Kounalakis, 2017</i>).<br><br>
  Así, los bots son susceptibles de marcar agenda-setting y modificar el signo del debate político online a favor de un partido, candidato o propuesta electoral concreta. La relevancia política y social en estos procesos automatizados ha supuesto un
  interés creciente de científicos, activistas, periodistas y educadores que desde diferentes perspectivas han explorado diversas formas para identificar la presencia y participación de los bots en redes sociales. Desde el punto de vista de la
  sociedad civil, proponen que un mayor conocimiento de estas prácticas de desinformación por parte de la ciudadanía evita la manipulación en los procesos electorales y una mayor rendición de cuentas por parte de las redes sociales donde se
  desarrollan las campañas electorales (<i>Tucker et al., 2018; Woolley, 2016</i>).<br><br>
  Es en en este contexto donde hemos diseñado una intervención docente en ámbito universitario. En concreto, hemos desarrollado un taller de identificación de bots en Twitter, con el objetivo final de incrementar la alfabetización mediática de los
  participantes y aumentar su capacidad crítica respecto a entornos sociales digitales. A partir de unos cuestionarios interactivos que nos ayudan a dinamizar la clase, hemos podido observar, por un lado, si las competencias mediáticas de las que
  parten los alumnos son adecuadas para identificar estas cuentas artificiales. Y, tras la intervención, en la que se explican los rasgos que pueden utilizar para determinar la autenticidad de una cuenta en la red social, se analiza si estas han
  aumentado.
</div>

<div class="speaker-text">
  <h3>Ponente(s)</h3>
  <strong><a href="https://resistenciasdigitales.ushahidi.io/" target="_blank">Dafne Calvo</a></strong>, doctorando sobre participación digital e internet alternativa.<br><br>
  <a href="https://twitter.com/dafnecalvo" target="_blank"><img src="{{ "/2019/assets/icons/twitter-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
  <a href="https://www.linkedin.com/in/dafne-calvo-aa25b058/" target="_blank"><img src="{{ "/2019/assets/icons/linkedin-brands.svg" | prepend: site.baseurl }}" height="20" width="20"></a>
</div>
